.footerlink{font-size:9pt;font-family:Arial, Helvetica, sans-serif;color:#ADC3CA;}
A.footerlink:link{color:#ADC3CA;text-decoration:underline;}
A.footerlink:visited{color:#ADC3CA;text-decoration:underline;}
A.footerlink:active{color:#ADC3CA;text-decoration:underline;}
A.footerlink:hover{color:#ADC3CA;text-decoration:none;}
.footerlink2{font-size:9pt;font-family:Arial, Helvetica, sans-serif;color:#ADC3CA;}
A.footerlink2:link{color:#ADC3CA;text-decoration:none;}
A.footerlink2:visited{color:#ADC3CA;text-decoration:none;}
A.footerlink2:active{color:#ADC3CA;text-decoration:none;}
A.footerlink2:hover{color:#ADC3CA;text-decoration:underline;}
.copyright_n{font-size:11pt;font-family:Arial, Helvetica, sans-serif;color:#337BAD;}
.middlebuttons_title{color:#005691;font-size:14pt;font-family:Arial, Helvetica, sans-serif;text-align:left;}
.middlebuttons_text{color:#676767;font-size:13pt;font-family:Arial, Helvetica, sans-serif;text-align:left;}
.top_tag{color:#005691;font-family:Arial, Helvetica, sans-serif;font-size:25pt;font-weight:bold;}
.top_tag2{color:#005691;font-family:Arial, Helvetica, sans-serif;font-size:20pt;font-weight:normal;}
.bottom_tag{color:#013D66;font-family:Arial, Helvetica, sans-serif;font-size:17pt;font-weight:bold;}
.main_copy{color:#414040;font-family:Arial, Helvetica, sans-serif;font-size:13pt;font-weight:normal;}

img { border: 0; }
body {
	font-family:Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
}

/* homepage */
.flex_container {
  font-size:14pt;  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  justify-content: space-around;max-width:1024px; margin: auto;
}

.panel_item {
	width:150px;height:190px;text-align:center;font-size:10pt;font-weight:600;
}

.panel_image {
	max-width:170px;max-height:149px;
}

.flex_item {
	width:420px;padding:10px;
}

.flex_item_half {
	width:450px;
}
.tc {
	text-align: center;
}

.p20 {
	padding: 20px;
}

.gray_back {
	background-color: #ebebeb;width:100%;padding:20px;
}

/* main menu nav */
.m_over {
text-decoration:underline !important;
}
	

#dhtmltooltip{
position: absolute;
left: -300px;
width: 150px;
border: 1px solid black;
padding: 2px;
background-color: lightyellow;
visibility: hidden;
z-index: 100;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}

#dhtmlpointer{
position:absolute;
left: -300px;
z-index: 101;
visibility: hidden;
}

	
.popmenu li i{
display: block;
background-image:url('../images/login-lock.png');background-repeat: no-repeat;
background-position: 0 0px;
margin-top: 10px;
height:33px;
width:22px;
float:left;
margin-left:10px;
z-index:3;
}

.anylinkcss ul li a{
text-indent:8px !important;
}

.m_overorder {
color: #1e5a2a !important;

}
#ordbut {
font-family: 'Rubik', sans-serif;
}

.menufont {
font-family:Calibri;
font-size:11pt;
}	

@media only screen and (max-width: 1120px) {
.menufont {	font-size:1.2vw;}	
	 #ordfont {
	 font-size:1.6vw !important;
	 }
}	
	
@media only screen and (max-width: 1020px) {
.menufont {	font-size:1.2vw;}
	
}

 .ordernowbut {
	width:1vw !important;
       background-image: url(../homepageimages/2014/ordernow.png);
       text-align:center;
       text-decoration:none;
       font-family:Arial, Helvetica, sans-serif;
       color:#0059ff;
       font-weight:600;
 		display: table-cell; 
 		vertical-align: middle;
 }

body  {
				
	/* font-family:Arial, Helvetica, sans-serif; */

}

#nav_small {
	display:none;			
}

@media only screen and (max-width: 920px) {
	#nav_large{
	display:none;		
	}
	#main_nav_large {
	display: none;
	}
	#nav_small {
	display:inline;			
	}

   #header_font { font-size: 12pt !important;
				
   }

}

#main_nav_large {

overflow: hidden;
  background-color: #ffffff;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index:9000;
  border-bottom: 6px solid #045894;
}

#main-content-new {
margin-top:82px;
}

.popmenu li i{
display: block;
background-image:url('../images/login-lock.png');background-repeat: no-repeat;
background-position: 0 0px;
margin-top: 10px;
height:33px;
width:22px;
float:left;
margin-left:10px;
z-index:3;
}
                                      
.anylinkcss ul li a{
text-indent:8px !important;
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; height: auto; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.checkmark
{
	background: url(../homepageimages/2015/checkmark5.png) no-repeat 0px 4px transparent;
	list-style-type: none;
	margin: 0;
	padding: 0px 0px 0px 26px;
	
}	
	body, html {
}

















.active { text-decoration: underline; font-weight: bold;}

table, th, td { 
     border: 0; 
} 
td { 
	padding: 0px; 
} 

.tc {
text-align: center;
}

nav td {
padding: 5px;
}

.m_overorder {
color: #1e5a2a !important;

}
#ordbut {
font-family: 'Rubik', sans-serif;
}



.menufont {
font-family:Calibri;
font-size:11pt;
}	

@media only screen and (max-width: 1120px) {
.menufont {	font-size:1.2vw;}
	/* .butsize {width:1vh !important;}	 */
	
	 #ordfont {
	 font-size:1.6vw !important;
	 }
}	
	
@media only screen and (max-width: 1020px) {
.menufont {	font-size:1.2vw;}
	/*.butsize {width:1vh !important;}	 */
	

	
}
	

	

 .ordernowbut {
	width:1vw !important;
       background-image: url(../homepageimages/2014/ordernow.png);
       text-align:center;
       text-decoration:none;
       font-family:Arial, Helvetica, sans-serif;
       color:#0059ff;
       font-weight:600;
 		display: table-cell; 
 		vertical-align: middle;
 }

body  {
				
	font-family:Arial, Helvetica, sans-serif;

}

#nav_small {
	display:none;			
}

@media only screen and (max-width: 920px) {
	#nav_large{
	display:none;		
	}
	#main_nav_large {
	display: none;
	}
	#nav_small {
	display:inline;			
	}

   #header_font { font-size: 12pt !important;
				
   }

}



	


#font-large {
font-size:22pt;					
}

.font-large {
font-size:22pt;					
}

#font-small {
font-size:15pt;			
}

.font-small {
font-size:15pt;			
}

#margin65 {
margin-right:65px;				
}

#part-left {
	max-width:472px;			
}
.part-left {
	max-width:472px;
}

.video_float_right {
float:right;
width:460px;
text-align:left;			
}
.video_float_left {
float:left;		
text-align:left;		
}

.thirdviewable {
				
}

.thirdviewable2 {
	display:none;			
}

.real1 {
	font-size:33pt;						
}
	
.real1lg {
	font-size:38pt;						
}	

.real2 {
	font-size:16pt;						
}


.real3 {
	font-size:32pt;
						
}

.real4 {
	font-size:13pt;						
}

#hiw_height {			
height:38px;				
}

@media only screen and (max-width: 1185px) {
	#hiw_height {			
	height:44px;				
	}

	.real3 {
		font-size:28pt;						
	}

	.real4 {
		font-size:13pt;						
	}

	.real1 {
		font-size:24pt;						
	}
}
	
	
@media only screen and (max-width: 1020px) {
	#hiw_height {			
	height:44px;				
	}

	.real3 {
		font-size:28pt;						
	}

	.real4 {
		font-size:13pt;						
	}

	.real1 {
		font-size:25pt;						
	}
}

@media only screen and (max-width: 920px) {
	#hiw_height {			
	height:20px;				
	}

	.section1 {
	background-image: none !important;		
	}
		
	.real1 {
		font-size:30pt;				
	}

	.real2 {
		font-size:14pt;						
	}


	.real3 {
		font-size:24pt;						
	}

	.real4 {
		font-size:13pt;						
	}

	.video_float_right {
	float:none;	
	width:auto;	
	}
	.video_float_left {
	float:none;		
	text-align:center;	
	min-width:100%;
	
	}
	.centered {
		display: table;
	margin: 0 auto;	
			
	}

   #part-right {
	  clear:both;
	  margin-left:20px;
	  margin-right:20px;
	  text-align:center;
   }
   #part-left {
	display: table;
	margin: 0 auto;		
	max-width:472px;
	}
	
   .part-left {
	display: table;
	margin: 0 auto;		
	max-width:472px;
	}	

	#font-large {
	font-size:22pt;					
	}
	
	.font-large {
	font-size:22pt;					
	}

	#font-small {
	font-size:14pt;			
	}
	
	.font-small {
	font-size:14pt;			
	}

	#margin65 {
	margin-right:0px;				
	}

	.thirdviewable {
	display:none;			
	}
	
	.columnthree {display:none;}
	
	.thirdviewable2 {
	display:block;			
	}

}


@media only screen and (max-width: 840px) {	
	.section2a {

	align-content:center;
	width:100% !important;
	text-align: center !important;
	}
	.section2b {
	width: 99% !important;
	margin: 0 auto !important;
	display: table !important;
		padding: 0px !important;

		
	}
		
	.section2c {

	padding:0px !important;
		width:100% !important;
	text-align: center !important;

	}

	.section2vid {
	max-width: 100% !important;
	padding-right: 0px !important;
	}	

	.section3text {
	max-width: 90% !important;		
	}

	.section3imageIphone {
		float:none !important;
		width:100% !important;
		padding-top:30px !important;
		padding-left:25px !important;
	}
		
	.section3image {
		float:none !important;
		width:100% !important;
		
	}	
	
}


@media only screen and (max-width: 600px) {

	.real1 {
	font-size:18pt;			
		}	
		
	.real3 {
		font-size:16pt;						
	}

	.real4 {
		font-size:9pt;						
	}



   #part-right {
	  clear:both;
	  margin-left:20px;
	  margin-right:20px;
	  text-align:center;
	  margin:20px;
   }
   #part-left {
	display: table;
	margin: 0 auto;	

	}
	
   .part-left {
	display: table;
	margin: 0 auto;	

	}
	
	#font-large {
	font-size:20pt;					
	}
	
	.font-large {
	font-size:20pt;					
	}

	#font-small {
	font-size:13pt;			
	}
	
	.font-small {
	font-size:13pt;			
	}

	#margin65 {
	margin-right:0px;				
	}
}


.stepcarousel{
position: relative; /*leave this value alone*/
overflow: scroll; /*leave this value alone*/
width: 80%; /*Width of Carousel Viewer itself*/
max-width:1000px;
height: 210px; /*Height should enough to fit largest content's height*/
-webkit-box-sizing: border-box; /* set box model so container width and height value includes any padding/border defined */
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.stepcarousel .belt{
position: absolute; /*leave this value alone*/
left: 0;
top: 0;
}

.stepcarousel .panel{
float: left; /*leave this value alone*/
overflow: hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin: 0px; /*margin around each panel*/

/*width: 203px;*/ /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */

}

span.paginatecircle{ /* CSS for paginate circle spans. Required */
background: white;
border: 2px solid black;
border-radius: 10px;
width: 6px;
height: 6px;
cursor: pointer;
display: inline-block;
margin-right: 4px;
}

span.paginatecircle:hover{
background: gray;
}

span.paginatecircle.selected{
background: black;
}


body {
margin:0px;
}

@keyframes certMove {
   0%  {top:-100px;}
 100%  { top:0px;}
}



.menufont:hover {
text-decoration: underline;	
}

.menufont {
	text-decoration: none;
	color:white;
}


/* submenu style */
.sub-menu {
font-family: Arial, Helvetica, sans-serif;
color:white;
font-size:9.5pt;
text-decoration:none;
}
.submenu-group a:hover {
text-decoration:underline;
}